<template>
    <div id="app-root">
        <menu-component />
        <div class="container">
            <div class="conteudo">
                <router-view />
            </div>
        </div>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Vue TypeScript</strong> by <a href="https://www.linkedin.com/in/diego-tavares-ferreira/">Diego Tavares Ferreira</a>. The source code is licensed
                    <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
                </p>
            </div>
        </footer>

    </div>

</template>

<script src="./app.ts"></script>
